<h2>
	Process the text
</h2>

<div class="editAreas">

	<textarea *ngIf="!processedTextToggle" [(ngModel)]="inputText" cols="45" rows="15"></textarea> <br>

	<button *ngIf="!processedTextToggle" (click)="processedTextToggle = !processedTextToggle">hide</button>

	<button *ngIf="!processedTextToggle" (click)="processText()">process new text</button> 	

<!-- 	<button *ngIf="!processedTextToggle && !processedTextClicked" (click)="processText()">process</button>  -->

<div id="instructions" *ngIf="processedTextToggle">
	
		<h3>Instructions</h3>
		<ul>
			<li>
				Left click: remove
			</li>
			<li>
				<strong>Alt</strong> click (or right click): suggest <strong>alt</strong>ernative
			</li>
			<li>Control click: undo edits</li>
			<li>Manually type [c]comment here[/c] for comments
		</ul>

	
	<!-- <button (click)="processedTextToggle = !processedTextToggle">show</button> -->
</div>
<div>
	<button *ngIf="processedTextToggle" (click)="processedTextToggle = !processedTextToggle">show</button>
</div>
</div>



<h2>
	Edit the text
</h2>
<div class="editAreas">
	<hr>
	<div id="noSelect">
		<p>
			<span *ngFor="let word of inputTextArray; let i = index">
				<span (click)="processWord($event, i)" [innerHTML]="word | safeHtml" (contextmenu)="showAddContent($event, i)"></span> 
				<span *ngIf="selectedWordIndex === i">
					<input myFocus #myAdd (keyup.enter)="addContent(myAdd.value, i)">
				</span>

			</span>
		</p>
	</div>
	<hr>
</div>
<!-- <p>
	<span *ngFor="let word of inputTextArray">{{word}} </span>
</p>
 -->

<h2>
	Pick your colors
</h2>
<div class="editAreas">
<div class="pickerContainer">
	<div [style.background]="addColor">
		<span><a>Add:</a></span> <input [(colorPicker)]="addColor" [value]="addColor" /> 
	</div>
	<div [style.background]="removeColor">
		<span><a>Remove:</a></span> <input [(colorPicker)]="removeColor" [value]="removeColor" /> 
	</div>
	<div [style.background]="commentColor">
		<span><a>Comment:</a></span> <input [(colorPicker)]="commentColor" [value]="commentColor" />  

	</div>
</div>
</div>
<div>
	<button (click)="convertToBB()">get BB</button>
</div>

<h2>
	Copy / paste the BBCode
</h2>

<div class="editAreas">
<p *ngIf="showBB" class="outputBB">
	{{outputTextBB}}
</p>
</div>
