<p>
  gp works!
</p>

<textarea [(ngModel)]="inputText"></textarea> <br>
<button (click)="processText()">process</button> 


<div id="noSelect">
<p>
	<span *ngFor="let word of inputTextArray; let i = index">
		<span (click)="processWord($event, i)" [innerHTML]="word | safeHtml" (contextmenu)="showAddContent($event, i)"></span> 
		<span *ngIf="selectedWordIndex === i">
			<input myFocus #myAdd (keyup.enter)="addContent(myAdd.value, i)">
		</span>

	</span>
</p>

</div>

<p>
	<span *ngFor="let word of inputTextArray">{{word}} </span>
</p>

<div class="pickerContainer" [style.background]="addColor">
	Add: <input [(colorPicker)]="addColor" [value]="addColor" /> <br>
</div>
<div class="pickerContainer" [style.background]="removeColor">
	Remove: <input [(colorPicker)]="removeColor" [value]="removeColor" /> <br>
</div>
<div class="pickerContainer" [style.background]="commentColor">
	Comment: <input [(colorPicker)]="commentColor" [value]="commentColor" /> <br> 

</div>


<p>
	{{outputTextBB}}
</p>
