<p>
  gp works!
</p>

<textarea [(ngModel)]="inputText"></textarea> <br>
<button (click)="processText()">process</button> 


<div id="noSelect">
<p>
	<span *ngFor="let word of inputTextArray; let i = index; trackBy: trackByFunction">
		<span (click)="processWord($event, i)" [innerHTML]="word | safeHtml" (contextmenu)="additions($event, i)"></span> 
		<span *ngIf="selectedWordIndex === i">
			<input myFocus>
		</span>

	</span>
</p>

</div>

<p>
	<span *ngFor="let word of inputTextArray">{{word}} </span>


</p>
<!-- <div class="pickerContainer" [style.background]="color">
	<input [(colorPicker)]="color" [value]="color" />
</div> -->