button
{
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
/*  display: inline-block;*/
  background-color: #e6e6e6;
  border-radius: 4px;
  color: #546c78;
  border: 2px #e6e6e6;
  font-family: Ubuntu;
}

button:hover 
{
  color: #3D9999;
  background-color: #f2f2f2;

  box-shadow: inset 0 0 0px #f2f2f2;
  cursor: pointer;
}

h2
{
	color: #3D9999;
	border-bottom: 2px #FF6666 dotted;
	display: inline-block;

}

hr
{
	border-top: dotted #3D9999 4px;
	border-style: dotted none none none;
}

.pickerContainer
{
	/*display: inline-block;*/

	display: table;
	border-collapse: separate;
	border-spacing: 0px 4px;

}
.pickerContainer div
{
	display: table-row;
}
.pickerContainer span
{

	display: table-cell;
	padding: 10px 10px 10px 10px;

}

.pickerContainer a
{
	background-color: white;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;


}

.pickerContainer input
{
	display: table-cell;
	margin-right: 10px;
	border-radius: 4px;



}
.pickerContainer input:focus         
{ 
	outline:none; 
}
.redDelete
{
	color: red;
}

#noSelect
{
	padding: 20px 0px 20px 0px;
}


#noSelect span 
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}


.outputBB
{
	white-space: pre-line;
}