<h3>General crafting</h3>

<p>Here are some general crafting tips.</p>

<h4>General process</h4>

<p>Usually, your crafts will go like this. Increase progress until you have one Synthesis left. Inner Quiet, Steady Hand, and Standard Touches (repairing durability when necessary) until you're out of CP. Finish Synthesis. Some skills will be replaced by better versions, and I'll go into more detail when we discuss them later.</p>

<h4>Macros</h4>

<h4>Buy these right now!</h4>
<p>Food gives a +3% Experience boost, so you definitely want to have it on at all times. Go to Buscarron's Druthers west of Quarrymill and buy a bunch of Stone Soup (37 Gil) from the Alehouse Wench. This boosts your CP by 17 and will help you squeeze in a little more quality. You can also consider a few Mashed Popotoes (25 Gil), which gives +12 Craftsmanship, in the rare case the boost will let you use one fewer Synthesis, but in my experience this hasn't been very useful. Raw Oyster (35 Gil) is probably useless here, though I haven't tested and may be completely wrong.</p>

<h4>Cross class skills</h4>
<p>Some background.</p>
<p>If your goal is just to get one crafter to 70 so you can meld or whatever, I would still recommend getting Steady Hand II from CUL 37, since it boosts success by 30%, and the Touches you're going to use the most have >=70% success rate. This means you won't leave anything to RNG, which is the bane of everything.</p>

<p>However, I don't recommend just leveling one crafter to 70. (Unfortunately?) The crafting system is kind of designed so that you need other classes to at least 50 (54 CUL) in order to make the hardest level 70 crafts. Also, endgame gear comes from all crafters, so you're not going to get much from only have one at max level (even just everything to 60 so you can repair).</p>

<p>There's a fair amount of discussion as to the order you should level crafters, and honestly I did things out of whack (I got Weaver to 70 before getting anything else to 50), so I can't really provide optimal insights. However, I do have some ideas. I'll start with what I believe are the useful level 15s to help you get higher, and then go from there.</p>
<ul>
<ol>Careful Synthesis (from Weaver): Improves Progress. Efficiency 90%, Success Rate 100%. The 100% success rate is big here, since it eliminates randomness. Progress is the base of crafting, so intuitively this makes sense to have.</ol>
<ol>Manipulation (from Goldsmith): Restores 10 points of durability after each step for the next three steps. Waste Not (from Leatherworker): Reduces loss of durability by 50% for the next four steps. Getting the most out of these is probably recipe dependent. Even though Waste Not restores overall less (20 vs. 30), keep in mind a Synthesis at 5 durability still succeeds. Also note that Master's Mend is another durability restoring action, all at once, changing where it could be useful.</ol>
<ol>Hasty Touch (from Culinarian): Increases quality and requires no CP. Sometimes you'll run out of CP but still have durability, so you can use this no loss filler to get some extra experience.</ol>
<ol>Rumination (from Carpenter): </ol>
</ul>
<hr>
<ul>
<ol>Tricks of the Trade (from Alchemist): Restores 20 CP. Can only be used when material condition is Good or Excellent. This seems really useful, but manually crafting is a pain so I only use this for quest crafts sometimes.</ol>
</ul>

<p>From the winners, work your way up to 37 Culinarian, for Steady Hand II. This boosts success for the next five actions by 30%, which is very nice since all the useful Touches have success rate 70% or higher. Again, this eliminates RNG.</p>

<p>Most of the other level 37 skills (Brand of ---) are not too useful, and neither is Flawless Synthesis, so let's talk 50s now.</p>

<p>Take whatever you want to 70, get Muscle Memory before doing high level crafts, Ing not too useful when leveling since there's not really a reason to do higher level crafts</p>


<h4>Grinding</h4>
<p>I would consider there to be 2.5 kinds of grinding based on their level of attentiveness (and as a result, their experience and cost) First is Quick Synthesis. Simply buy a ton of supplies for a recipe around your level, and sit back. Obviously, you won't get many HQ crafts, and some number of them will fail. Even if you use this method for recipes with cheap materials, keep in mind shards are often a hidden cost.</p>

<p>The second method is to create a macro for maximum quality and use that on your recipe. This is quite a bit slower due to wait times on actions, but you will use significantly fewer supplies. You will inevitably craft HQ items with this method, so grinding leve items with this method is useful for an efficient use of allowances. Grinding this way benefits hugely from having cross class skills, since they guarantee higher qualities. The 0.5 comes from manually crafting and using condition based procs (such as Tricks of the Trade) to potentially gain even more quality, but I would not recommend doing this for sanity's sake.</p>
