


<div class="centerContainer">
	<div class="leftAlignContainer">

	<p>
	  Hi everyone!
	</p>

	<p>
		I've been a fan of JavaScript (HTML, etc.) for a while because I feel like web apps are just so convenient. Basically everyone has a (good) browser, and reducing the need to download programs just makes managing them much easier (especially across multiple machines). 
	</p>
	<p>
		I remember working on some really basic stuff, like formatting text separated by "/" from a textarea into a table, and I just didn't understand how to use .innerHTML for the longest time. I also began seeing glimpses of jQuery, but I straight up didn't want to use it because it looked so confusing. So I ended up writing a lot of stuff with vanilla JS. 
	</p>

	<p>
		Somewhere along the way I bought this domain because lemonade is a great drink and .de was an extension. They offered hosting as well, so I said why not. I made a couple of static pages and apps, which was cooler now that I had a website. However, there were always a few projects I wanted to work on, and I had no idea how to start because I didn't really understand what a "server" was. I had always thought the client somehow "saved" files to the "directory" and read them later to remember things, so googling wasn't really helpful. But in making the site and doing online tutorials I started hearing more client-side and server-side talk, so I explored a bit. The ideas made sense, but I had no idea how to actually do it. 
	</p>

	<p>
		Also around this time, I wanted to test my site locally in a different way than opening index.html, since I would always have to change relative links when I uploaded. After googling this issue, I found XAMPP, which was pretty easy to set up. Problem was, I still couldn't figure out how to <strong>do</strong> anything to the server. It just hosted my pages. Then, I googled what I thought to be a nonsensical statement: "make a server in js". That's how I found Node.js.
	</p>

	<p>
		I did a ton of Node.js tutorials, especially MEAN, and started to understand the structure of a "website". You can see a lot of the projects they turned into on my GitHub, including a collaborative Pokemon teambuilder using sockets, and a pretty functional forum. I also thought Angular was really cool and made a couple client apps with that. Angular 2 was out, but I didn't want to use TypeScript (nor did I understand it), and with everything I really wanted to do finished, I didn't really touch web stuff for a year. 
	</p>

	<p>
		Fast forward to April 2017, I got a bit more interesting in writing "good" code and remembered stuff like "single responsibility principle" that I saw when I worked with Angular (but didn't follow .-.). I decided to go through the Angular 2 Tour of Heroes tutorial and the way the code is organized is very soothing. I quickly remade an old project of mine and decided to move my site over to Node.js and Angular 2, which is where we are now. (Oh yeah, I remember I considered doing it a year ago, but the angular router had an ugly "#" in the url and I simply could not figure out how to get rid of it, so I ditched the idea).  
	</p>

	<p>
		Now, I find working on this site much more satisfying, for many reasons. Not only is the organization cleaner, generating pages is a lot more convenient. Also, I can build a lot more involved apps since I have access to the server. Now, it's just a matter of coming up with ideas.
	</p>

	</div>
</div>