h1
{
	color: #ff6666;
}
#lcolor
{
	color: #3D9999;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}

nav a.active {
  color: #3D9999;
  /*background-color: #c4cfd4;*/
  background-color: #D5E3E3;

  box-shadow: inset 0 0 3px #7a949f;
}

nav a:hover {
  color: #3D9999;
  background-color: #f2f2f2;

  box-shadow: inset 0 0 0px #f2f2f2;
}
