.col {
    float: left;
    width: 25%;
    padding: 0px 0px 0px 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.big
{
	font-size: 20pt;
}

#options
{
	border-right: 5px dotted black; 


}

.bigInput
{
	border-radius: 3px;
	font-size: 20pt;
}

h1
{
	color: #ff811a;
	border-bottom: 3px dotted #509B9A;
}

#spchar
{
	color: #509B9A;
}